@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  .image {
    width: 100%;
    background:
      linear-gradient(135deg, #005f5a80 0%, #022a28bd 60%, #032525 100%),
      url(./photo-1681939282781-341ac4f61996.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    header {
      .container {
        .top {
          .logo {
            .shape {
              width: clamp(40px, 3vw, 20px);
              height: clamp(40px, 3vh, 20px);
              background-color: #009689;
              border-radius: 1.5rem;
              font-family: "Cairo", sans-serif;
              font-size: 1.125rem;
              color: #ffffff;
              font-weight: 700;
            }
            .text {
              h3 {
                font-family: "Cairo", sans-serif;
                font-size: clamp(1.125rem, 1.5vw, 0.5rem);
                color: #ffffff;
                font-weight: 700;

                span {
                  font-family: "Cairo", sans-serif;
                  font-size: 0.75rem;
                  color: #77c8ba;
                  font-weight: 500;
                }
              }
            }
          }
          .nav-bar {
            a {
              text-decoration: none;
              font-family: "Cairo", sans-serif;
              font-size: 0.875rem;
              font-weight: 600;
              color: #ffffff;
              text-align: center;
              white-space: nowrap;
            }
            a:hover {
              color: #ffd230;
            }
            button {
              font-family: "Cairo", sans-serif;
              background-color: #ffb900;
              font-size: 0.875rem;
              font-weight: 700;
              color: #0f172b;
              border: 0;
              white-space: nowrap;
            }
            button:hover {
              background-color: #fe9a00;
            }
          }
          .menu {
            .menu-btn {
              border: 0;
              background: transparent;
              padding: 0;
              font-size: 25px;
              color: #ffffff;
            }
            .btn-close {
              position: absolute;
              left: 5px;
            }
            .offcanvas-top {
              top: 83px !important;
              height: 280px !important;
            }
            .link {
              a {
                text-decoration: none;
                font-family: "Cairo", sans-serif;
                font-weight: 600;
                font-size: 1rem;
                color: #005f5a;
              }
              button {
                font-family: "Cairo", sans-serif;
                background-color: #ffb900;
                font-size: 0.875rem;
                font-weight: 700;
                color: #0f172b;
                border: 0;
              }
            }
          }
        }
      }
    }
    #header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;

      background-color: transparent;
      transition: 0.3s ease;

      &.scrolled {
        background-color: #fcf9fa;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);

        .nav-bar {
          a {
            color: #314158;
          }
          a:hover {
            color: #ffd230;
          }
        }

        .logo {
          .text {
            h3 {
              color: #005f5a;
            }
          }
        }
        .menu {
          .menu-btn {
            color: #005f5a;
          }
        }
      }
    }
    .section1 {
      padding-top: 5rem;
      padding-bottom: 20px;
      @media screen and (max-width: 767px) {
        padding-bottom: 50px;
      }
      .container {
        padding: 6rem 0 8rem 0;
        @media screen and (min-width: 768px) and (max-width: 992px) {
          padding: 0;
        }
        @media screen and (max-width: 767px) {
          padding: 2rem 0 10px 0;
        }

        .left {
          padding: 0 7rem 0 0;
          @media screen and (max-width: 992px) {
            padding: 0;
          }
          @media screen and (max-width: 767px) {
            padding-right: 2rem;
          }
          .text-1 {
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            h6 {
              margin-bottom: 0;
              font-family: "Cairo", sans-serif;
              color: #ffd230;
              font-size: 1rem;
              font-weight: 600;
            }
          }

          .text-2 {
            h1 {
              font-family: "Cairo", sans-serif;
              font-weight: 900;
              font-size: clamp(2.5rem, 8vw, 4rem);
              color: #ffffff;
              line-height: 5rem;
              @media screen and (max-width: 767px) {
                line-height: 4rem;
              }
              span {
                color: #ffb900;
              }
            }
            p {
              font-family: "Cairo", sans-serif;
              font-size: 1.125rem;
              color: #cbfbf1;
            }
            .button {
              font-family: "Cairo", sans-serif;
              font-weight: 900;
              font-size: 1rem;
              .button1 {
                font-weight: 900;
                border: 0;
                background-color: #ffb900;
                transition: 0.3s;
              }
              .button1:hover {
                background-color: #fe9a00;
                transform: translatey(-5px);
              }
              .button2 {
                font-weight: 900;
                background: rgba(255, 255, 255, 0.15);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                color: #ffffff;
              }
              .button2:hover {
                background: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(10px);
              }
            }
          }
        }
        .right {
          padding: 0 0 0 7rem;
          @media screen and (max-width: 992px) {
            padding: 0;
          }
          .box {
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            padding: 2rem 1rem;
            border-radius: 25px;
            p {
              margin-bottom: 0;
              font-family: "Cairo", sans-serif;
              font-size: 1.875rem;
              font-weight: 900;
              color: #ffb900;
              line-height: 25px;
              span {
                color: #96f7e4;
                font-size: 0.875rem;
                font-weight: 500;
              }
            }
          }
          .box:hover {
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
          }
        }
        .scroll-down {
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          color: rgba(255, 255, 255, 0.426);

          animation: scrollMove 1s ease-out infinite;
        }

        .scroll-down p {
          margin: 0 0 8px;
        }

        .scroll-down span {
          display: block;
          font-size: 25px;
        }
      }
    }
  }
  .section2 {
    background-color: #fcf9fa;
    .container {
      padding: 6rem 0 4rem 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      p {
        font-family: "Cairo", sans-serif;
        font-size: 0.875rem;
        font-weight: 700;
        color: #fe9a00;
      }
      h1 {
        font-family: "Cairo", sans-serif;
        font-size: 2.25rem;
        font-weight: 900;
        color: #0b4f4a;
      }
      h5 {
        font-family: "Cairo", sans-serif;
        font-size: 1.125rem;
        color: #62748e;
        line-height: 2rem;
      }
    }
  }
  .section3 {
    background-color: #fcf9fa;
    padding-bottom: 6rem;
    .container {
      .box {
        background-color: #ffffff;
        border: 1px solid #f9f3f4;
        transition: 0.3s;
        p {
          width: 55px;
          background-color: #f0fdfa;
          font-family: "Cairo", sans-serif;
          font-size: 1.5rem;
        }
        h1 {
          font-family: "Cairo", sans-serif;
          font-size: 1.25rem;
          font-weight: 700;
          color: #0b4f4a;
        }
        h6 {
          font-family: "Cairo", sans-serif;
          font-size: 0.875rem;
          color: #62748e;
          line-height: 1.625rem;
        }
      }
      .box:hover {
        border: 1px solid rgba(1, 170, 170, 0.456);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

        border: 1px solid rgba(1, 170, 170, 0.456);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
        transform: scale(1.002);
        p {
          background-color: rgba(8, 213, 213, 0.267);
        }
      }
    }
  }
  .section4 {
    background-color: #ffffff;
    padding: 6rem 0;
    .container {
      .right {
        @media screen and (min-width: 767) and (max-width: 992px) {
          padding-top: 5rem;
        }
        @media screen and (max-width: 767px) {
          margin-bottom: 30px;
        }
        .image {
          height: 535px;
          width: 66.66666667%;
          background-image: url(./photo-1588776814546-daab30f310ce.avif);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          position: relative;
          @media screen and (max-width: 992px) {
            height: 480px;
            width: 85%;
          }
        }
        .son {
          background-color: #ffffff;
          position: absolute;
          bottom: 40px;
          left: -90px;
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
          @media screen and (max-width: 992px) {
            left: -20px;
          }
          p {
            font-family: "Cairo", sans-serif;
            font-size: 1.25rem;
            background-color: #009689;
            margin: 0 !important;
          }
          h2 {
            font-family: "Cairo", sans-serif;
            font-size: 1.125rem;
            font-weight: 900;
            color: #0b4f4a;
            margin: 0 !important;
          }
          h3 {
            font-family: "Cairo", sans-serif;
            font-size: 0.75rem;
            font-weight: 400;
            color: #62748e;
            margin: 0 !important;
          }
        }
      }
      .left {
        .text {
          h4 {
            font-family: "Cairo", sans-serif;
            font-size: 0.875rem;
            font-weight: 700;
            color: #fe9a00;
          }
          h1 {
            font-family: "Cairo", sans-serif;
            font-size: 2.25rem;
            font-weight: 900;
            line-height: 3rem;
            color: #0b4f4a;
            span {
              font-size: 1.5rem;
              font-weight: 700;
              color: #009689;
            }
          }
          p {
            font-family: "Cairo", sans-serif;
            color: #45556c;
            font-weight: 500;
            font-size: 1.1rem;
          }
        }
        .parts {
          h5 {
            font-family: "Cairo", sans-serif;
            font-size: 1.25rem;
            margin: 0 !important;
          }
          p {
            font-family: "Cairo", sans-serif;
            font-size: 0.875rem;
            font-weight: 500;
            color: #45556c;
            margin: 0 !important;
          }
        }
        button {
          border: 0;
          background-color: #00786f;
          font-family: "Cairo", sans-serif;
          font-weight: 700;
          color: #ffffff;
        }
        button:hover {
          background-color: rgb(1, 95, 95);
        }
      }
    }
  }
  .section5 {
    background-color: #11605b;
    background-image: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.06) 0px,
      rgba(255, 255, 255, 0.06) 1.5px,
      transparent 1.5px,
      transparent 18px
    );
    .container {
      padding: 5rem 0;
      @media screen and (max-width: 767px) {
        padding: 5rem 1.5rem;
      }
      h1 {
        font-family: "Cairo", sans-serif;
        font-size: 2.25rem;
        font-weight: 900;
        color: #ffffff;
      }
      p {
        font-family: "Cairo", sans-serif;
        font-size: 1.125rem;
        color: #46edd5;
      }
      .box {
        background-color: #216a65;
        border: 1px solid rgba(255, 255, 255, 0.3);
        h1 {
          font-family: "Cairo", sans-serif;
          font-size: 2.25rem;
        }
        h2 {
          font-family: "Cairo", sans-serif;
          font-size: 1.25rem;
          font-weight: 700;
          color: #ffffff;
        }
        p {
          font-family: "Cairo", sans-serif;
          font-size: 0.875rem;
          color: #46edd5;
          font-weight: 400;
        }
      }
      .box:hover {
        background-color: #0a837b;
      }
    }
  }
  .section6 {
    background-color: #fcf9fa;
    .container {
      padding: 5rem 0;
      .text {
        .part1 {
          h6 {
            font-family: "Cairo", sans-serif;
            font-size: 0.875rem;
            font-weight: 700;
            color: #fe9a00;
          }
          h1 {
            font-family: "Cairo", sans-serif;
            font-size: 2.25rem;
            font-weight: 900;
            line-height: 3rem;
            color: #0b4f4a;
          }
          p {
            font-family: "Cairo", sans-serif;
            color: #45556c;
          }
        }
        .part2 {
          ul {
            list-style: none;
            p {
              width: 20px;
              height: 20px;
              color: #ffffff;
              font-size: 0.75rem;
              background-color: #009689;
              margin: 0 !important;
            }
            span {
              color: #314158;
              font-weight: 400;
            }
          }
        }
        button {
          font-family: "Cairo", sans-serif;
          background-color: #ffb900;
          font-size: 1rem;
          font-weight: 900;
          color: #0f172b;
          border: 0;
          white-space: nowrap;
        }
        button:hover {
          background-color: #fe9a00;
        }
      }
    }
    .image2 {
      height: 320px;
      background-image: url(./photo-1663182234283-28941e7612da.avif);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .section7 {
    background-color: #ffffff;
    .container {
      padding: 5rem 0;
      h6 {
        font-family: "Cairo", sans-serif;
        font-size: 0.875rem;
        font-weight: 700;
        color: #fe9a00;
      }
      h1 {
        font-family: "Cairo", sans-serif;
        font-size: 2.25rem;
        font-weight: 900;
        line-height: 3rem;
        color: #0b4f4a;
      }
      p {
        font-family: "Cairo", sans-serif;
        font-size: 1.2rem;
        color: #45556c;
      }
      .content {
        padding: 2rem;
        background-color: #fcf9fa;
        border: 1px solid #f9f3f4;
        transition: 0.3s;
        p {
          color: #ffb900;
          font-family: "Cairo", sans-serif;
          font-size: 1.125rem;
          margin: 0 !important;
        }
        h6 {
          font-family: "Cairo", sans-serif;
          font-size: 0.875rem;
          color: #45556c;
          font-weight: normal;
        }
        .box {
          p {
            width: 35px;
            background-color: #cbfbf1;
            margin: 0 !important;
            color: #00786f;
            font-family: "Cairo", sans-serif;
            font-size: 0.875rem;
            font-weight: 700;
          }
          h4 {
            font-family: "Cairo", sans-serif;
            font-size: 0.875rem;
            font-weight: 700;
            color: #0b4f4a;
            margin: 0 !important;
            span {
              color: #90a1b9;
              font-family: "Cairo", sans-serif;
              font-size: 0.75rem;
              font-weight: normal;
            }
          }
        }
      }
      .content:hover {
        border: 1px solid rgba(1, 170, 170, 0.456);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
        transform: scale(1.002);
      }
    }
  }
  .section8 {
    background-color: #0b4f4a;
    position: relative;
    .left {
      background-color: #005f5a;
      width: 200px;
      height: 200px;
      border-radius: 0 0 12rem 0;
      position: absolute;
      left: 0;
      top: 0;
      @media screen and (max-width: 767px) {
        width: 120px;
        height: 120px;
      }
    }
    .right {
      background-color: #245a43;
      width: 150px;
      height: 150px;
      border-radius: 12rem 0 0 0;
      position: absolute;
      right: 0;
      bottom: 0;
      @media screen and (max-width: 767px) {
        width: 100px;
        height: 100px;
      }
    }
    .container {
      padding: 5rem 0;
      display: flex;
      justify-content: center;
      h6 {
        font-family: "Cairo", sans-serif;
        font-size: 0.875rem;
        font-weight: 700;
        color: #fe9a00;
      }
      h1 {
        color: #ffffff;
        font-family: "Cairo", sans-serif;
        font-size: 2.25rem;
        font-weight: 900;
        span {
          color: #46edd5;
          font-size: 1.875rem;
        }
      }
      p {
        color: #96f7e4;
        font-family: "Cairo", sans-serif;
        font-size: 1.25rem;
      }
      .box {
        background-color: #24615c;
        padding: 1rem 2rem;
        p {
          font-family: "Cairo", sans-serif;
          font-size: 1.25rem;
          margin: 0 !important;
        }
        h4 {
          color: #46edd5;
          font-family: "Cairo", sans-serif;
          font-size: 0.75rem;
          font-weight: 600;
          margin: 0 !important;
          span {
            font-size: 0.875rem;
            font-weight: 500;
            color: #ffffff;
          }
        }
      }
      .button {
        background-color: #00c951;
        text-align: center;
        padding: 1rem 3rem;
        transition: 0.3s;
        white-space: nowrap;

        a {
          text-decoration: none;
          color: #ffffff;
          font-family: "Cairo", sans-serif;
          font-size: 1.25rem;
          font-weight: 900;
        }
      }
      .button:hover {
        background-color: #3ad87a;
        transform: translatey(-5px);
        box-shadow: 0 10px 35px rgba(0, 255, 180, 0.35);
      }
      h5 {
        padding-top: 0.5rem;
        color: #00d5be;
        font-family: "Cairo", sans-serif;
        font-size: 0.875rem;
      }
    }
  }
  footer {
    padding: 3rem 0;
    background-color: #0a2e2e;
    .container {
      .logo {
        .shape {
          width: clamp(40px, 3vw, 20px);
          height: clamp(40px, 3vh, 20px);
          background-color: #009689;
          border-radius: 1.5rem;
          font-family: "Cairo", sans-serif;
          font-size: 1.125rem;
          color: #ffffff;
          font-weight: 700;
          margin: 0 !important;
        }
        .text {
          h3 {
            font-family: "Cairo", sans-serif;
            font-size: clamp(1.125rem, 1.5vw, 0.5rem);
            color: #ffffff;
            font-weight: 700;
            margin: 0 !important;

            span {
              font-family: "Cairo", sans-serif;
              font-size: 0.75rem;
              color: #77c8ba;
              font-weight: 500;
            }
          }
        }
      }
      p {
        color: #00bba7;
        font-family: "Cairo", sans-serif;
        font-size: 0.875rem;
        margin: 0 !important;
      }
      nav {
        a {
          color: #00d5be;
          text-decoration: none;
          font-family: "Cairo", sans-serif;
        }
      }
    }
  }
}
@keyframes scrollMove {
  0%,
  100% {
    bottom: 30px;
  }

  35% {
    bottom: 18px;
  }
  45% {
    bottom: 18px;
  }
}
